.posts {
  width: 100%;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 5px;
}

.post-container {
  display: flex;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  .post-author-image {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .post-wrap {
    width: 100%;

    .post-username {
      color: #0279C9;
      font-weight: bold;
    }

    .post-content {
      min-height: 25px;
      margin-bottom: 10px;
    }
    
    .add-comment-input {
      width: 100%;
    }
  }
}

.post-comments {
  padding: 5px;
  background: #ededed;
}

.comment {
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 5px;

  img {
    min-width: 25px;
    min-height: 25px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .comment-username {
    color: #0279C9;
    font-weight: bold;
  }
  
  .comment-content {
    margin-bottom: 5px;
  }
}