<!--<div id="ticker">-->
	<div id="userSection">
		<img ng-src="{{userImageURL}}" style="margin-right: 2px">
		{{userName}}
	</div>
	<div id="tickerMain">
		<div style="font-size: 16px; font-weight: bold; margin-bottom: 20px;">Updates</div>
		<div ng-repeat="post in posts" class="tickerpost">
			<div class="postArea">
				<img ng-src="{{users[post.userId].pic}}" class="postProfilePic">

				<div class="postContent">
					<div class="postusername">{{users[post.userId].username}}</div>
					{{post.content}}
				</div>
			</div>
			<div class="commentArea">
				<div ng-repeat="comment in post.comments" class="commentContainer">
					<div style="display: inline-block; width: 100%;">
						<span style="display: inline-block; vertical-align: top;"></span><img ng-src="{{users[comment.userId].pic}}" class="commentProfilePic">

						<div style="padding-left: 40px;">
							<div class="postusername">{{users[comment.userId].username}}</div>
							{{comment.content}}
						</div>
					</div>
					<div class="borderthing"></div>
				</div>
				<textarea class="commentInput" placeholder="post a comment"></textarea>
			</div>
		</div>
	</div>


<!--</div>-->