/*
 * base styles 
 * 
 */

html {
  height: 100%;
}

body {
  background: rgb(167, 199, 220); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(167, 199, 220, 1)),
    color-stop(100%, rgba(133, 178, 211, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    top,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

  font-size: 13px;
  min-width: 800px;
}

#page {
  width: 800px;
  margin: 1rem auto 0px;
  display: flex;
}

#page .posts-container {
  flex: 1;
}
