

#postModalContainer
{
    width: 400px;
    height: 200px;
    padding-left: 50px;
    padding-top: 40px;
}


.modalTitle
{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

#postModalInput
{
    width: 300px;
    height: 60px;
    resize: none;

    margin-bottom: 10px;
}

.modal-dialog
{
    width: 400px;
    height: 200px;
}