/*
 * base styles 
 * 
 */

html{
	height: 100%;
}

body{
	background: rgb(167,199,220); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(167,199,220,1) 0%, rgba(133,178,211,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,199,220,1)), color-stop(100%,rgba(133,178,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

	
	font-size: 13px;
	min-width: 800px;
	
}

br{
	clear: left;
}


#header{
	background: rgba( 0, 0, 0, 0.7);
	padding: 10px 5px;
	box-shadow: 0px 1px 5px #fff;
	height: 45px;
}

/*logo in header*/
#logo{
	display: inline-block;
	float: left;
}

/*search in header*/

#search{

	display: inline;
    float: left;
    left: 50%;
    margin-left: -25%;
    position: relative;
    width: 300px;
    margin-top: 1em;
}

#search input[name="terms"]{
	width: 250px;
	padding: 2px 3px;
	border: 2px solid #A2C4DA;
	font-size: 1.2em;
}

#search input[name="terms"]:focus {
	-webkit-box-shadow: 0px 0px 38px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 0px 38px 1px rgba(255,255,255,0.5);
	box-shadow: 0px 0px 38px 1px rgba(255,255,255,0.5);
}

#search input[type="submit"]{
	width: 30px;
	padding: 4px;
	vertical-align: top;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #6FD6F7;
}

#search input[type="submit"]:hover{
	background: #1285ff;
	border: 1px solid #1285ff;
	color: #ffffff;
}

/*page content*/

#page{
	width: 800px;
	display: flex;
	
	/*background: rgba( 255, 255, 255, 0.3 );
	border: 1px solid #ffffff;*/
	margin: 10px auto 0px;
	padding: 1em 2em;
}

#content {
	width:530px;
	border-radius: 5px;
	background-color: #f7f7f7;
	padding-bottom:35px;
}

#sidebar {
	width:230px;
	height:55px;
	margin-right:30px;
	background-color: #f7f7f7;
	padding: 5px;
	border-radius: 5px;
}

#user {
	width: 100%;
    display: flex;
    align-items: baseline;
}

#user-name {
	padding: 0px 0px 0px 5px;
}

.profile-img {
	padding: 10px;
	width:25px;
	height:25px;
}

#profile {
	font-size:16px;
	display: inline-block;
    width: 280px;
    float: right;
}
#profile ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#profile li {
	float: left;
}

#profile li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.updates {
	color: #000000;
	font-weight:bold;
	padding: 10px 0px 0px 5px;
	font-size:16px;
}

.post-container {
	width:100%;
	padding-top:25px;
}

.post {
	width:100%;
	display:flex;
}

.comments {
	width: calc(100% - 75px);
	background-color: #ededed;
	padding: 5px 0px 5px 5px;
	margin-left: 65px;
	margin-right: 5px;
}

.comment {
	padding: 10px 0px 10px 0px;
	display: flex;
}

.post-image {
    padding-left: 8px;
}

.post-image img {
	height: 50px;
	width:50px;	
}

.comment-image {
	width: 30px;
	display: flex;
	justify-content: center;
}

.comment-image img {
	height: 25px;
	width:25px;	
}

.post-contents {
	padding: 2px 30px 0px 10px;
}

.comment-contents {
	padding: 1px 30px 0px 10px;
	width: 100%;
}

.post-name,
.comment-name {
	color: #0279c9;
	font-weight: bold;	
}
.comments textarea {
	width: calc(100% - 10px);
	height:22px;
}

#overlay {
	position: fixed; 
	display: none;
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

#post-modal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.modal {
	text-align: left;
    padding: 70px 50px 10px 50px;
	width:350px;
	height:200px;
	background-color: #f7f7f7;
	border-radius:5px;
}

.modal textarea {
	width:100%;
	height:70px;
	margin-bottom: 20px;
}

.modal-status {
	color: #000000;
    font-weight: bold;
    font-size: 16px;
	padding-bottom: 20px;
}

.reply-field {
	display: flex;
}

.reply-avatar {
    margin-right: 2px;
	display:none;
}
.reply-avatar img {
    height:25px;
	width:25px;
}

.focused .reply-avatar{
	display:block;
}

.focused textarea {
	width: calc(100% - 37px);
}
