/*
 * base styles 
 * 
 */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html{
}

body{
	background: rgb(167,199,220); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(167,199,220,1) 0%, rgba(133,178,211,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,199,220,1)), color-stop(100%,rgba(133,178,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

	
	font-size: 13px;
	min-width: 800px;
}

br{
	clear: left;
}


#header{
	background: rgba( 0, 0, 0, 0.7);
	padding: 10px 5px;
	box-shadow: 0px 1px 5px #fff;
	
	height:80px;
}


/*logo in header*/
#logo{
	display: inline-block;
	float: left;
}

/*search in header*/

#search{

	display: inline;
    float: left;
    left: 50%;
    margin-left: -25%;
    position: relative;
    width: 300px;
    margin-top: 1em;
}
#search input[name="terms"]:focus
{
	box-shadow: 0 0 15px 3px #fff;
}

#search input[name="terms"]{
	width: 250px;
	padding: 2px 3px;
	border: 2px solid #A2C4DA;
	font-size: 1.2em;
}

#search input[type="submit"]{
	width: 30px;
	padding: 4px;
	vertical-align: top;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #6FD6F7;



}

#search input[type="submit"]:hover{
	
}

#headPicContainer
{
	float:right;
	height: 100%;
	margin-right: 30px;
	margin-left: 10px;
}

.vertImgHelper
{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#headerPic
{
	max-width: 25px;
	max-height: 25px;
	
	vertical-align: middle;
}

.topLink
{
	float: right;
	font-size: 16px;
	color: #ffffff;

	text-decoration: none;
	line-height: 50px;
	height: 50px;

	margin-right: 15px;
}



/*page content*/

#page{
	/*width: 800px;*/
	
	/*background: rgba( 255, 255, 255, 0.3 );
	border: 1px solid #ffffff;*/
	margin: 10px auto 0px;
	padding: 1em 2em;
	width: 100%;
	height: auto;
	float:left;
}


#ticker
{
	padding-left: 10%;
}

#userSection
{
	float: left;
	width: 250px;
	height: 60px;
	
	background-color: #ffffff;
	border: 0px solid;
	border-radius: 8px;

	margin-left: calc(50% - 600px);
	/*margin-right: 100px;*/
	
	padding-left: 5px;
	padding-top: 5px;
}

#tickerMain
{
	/*float: left;*/
	width: 525px;
	height: 100%;

	display: block;
	margin-left: auto;
	margin-right: auto;
	
	
	
	border-radius: 8px;
	background-color: #f7f7f7;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
}


.tickerpost
{
	display: inline-block;
	width:100%;
	margin-bottom: 30px;
	margin-right: 10px;
}

.postArea
{
	height:auto;
	
	min-height: 50px;
}

.postContent
{
	padding-left: 60px;
}

.postusername
{
	font-weight: bold;
	color: #0279c9;
}

.postProfilePic
{
	float:left;
	
	max-width: 50px;
	max-height: 50px;
}

.commentArea
{
	width: auto;
	margin-left: 55px;
	
	background-color: #ededed;
}

.commentContainer
{
	min-height: 30px;

	padding-top: 5px;
}

.commentProfilePic
{
	float:left;
	
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	
	max-width: 25px;
	max-height: 25px;
	vertical-align: top;
}

.commentInput
{
	width: calc(100% - 15px);
	height: 18px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	
	resize: none;
	overflow: hidden;
}

.borderthing
{
	height: 1px;
	width: calc(100% - 4px);
	background-color: #d8d8d8;

	margin: 5px auto;
}
