/*
 * base styles 
 * 
 */

html{
	height: 100%;
}

body{
	background: rgb(167,199,220); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(167,199,220,1) 0%, rgba(133,178,211,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,199,220,1)), color-stop(100%,rgba(133,178,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

	
	font-size: 13px;
	min-width: 800px;
	
}

br{
	clear: left;
}


#header{
	background: rgba( 0, 0, 0, 0.7);
	padding: 10px 5px;
	box-shadow: 0px 1px 5px #fff;
	height:40px;
	margin-bottom:15px;
}


/*logo in header*/
#logo{
	display: inline-block;
	float: left;
}

/*search in header*/

#search{
	display: inline;
    float: left;
    left: 50%;
    margin-left: -25%;
    position: relative;
    width: 300px;
    margin-top: 1em;
}

#search input[name="terms"]{
	width: 250px;
	padding: 2px 3px;
	border: 2px solid #A2C4DA;
	font-size: 1.2em;
}

#search input[type="submit"]{
	width: 30px;
	padding: 4px;
	vertical-align: top;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #6FD6F7;
}

#search input[type="submit"]:hover{
	background-color: blue;
}

#search input[type="search"]:focus{
	box-shadow: 0px 0px 5px white;
}

#corner {
	color: white;
	float: right;
}

#corner li {
	display: inline;
	float: left;
	margin-right: 5px;
}

/*page content*/

#page{
	width: 800px;
	
	/*background: rgba( 255, 255, 255, 0.3 );
	border: 1px solid #ffffff;*/
	margin: 10px auto 0px;
	padding: 1em 2em;
	position: relative;
}

#content{
	background-color: #F7F7F7;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
}

#side-profile {
	background-color: #F7F7F7;
	padding: 10px 5px 5px;
	border-radius: 5px;
}
/*
#side-profile li {
	float:left;
	margin-left: 5px;
}
*/

ul {
	list-style-type: none;
}

#footer{
	position: relative;
    left: 50%;
	clear: both;
}

.title-img{
	width: 50px;
	height: 50px;
	float: left;
}

.reg-img {
	width: 25px;
	height: 25px;
	float: left;
}

.title{
	color: #0279C9;
}

.comment {
	background-color: #EDEDED;
	padding: 10px 10px 10px 10px;
}
.fix{
	padding-right: 20px;
}

.container{
	width:1000px !important;
	position: fixed;
}

