/*
 * base styles 
 * 
 */

html{
	height: 100%;
}

body{
	background: rgb(167,199,220); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(167,199,220,1) 0%, rgba(133,178,211,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,199,220,1)), color-stop(100%,rgba(133,178,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

	
	font-size: 13px;
	min-width: 800px;
	
}

br{
	clear: left;
}
.clr{
	clear:both;
}

#header{
	background: rgba( 0, 0, 0, 0.7);
	padding: 10px 5px;
	box-shadow: 0px 1px 5px #fff;
}


/*logo in header*/
#logo{
	display: inline-block;
	float: left;
}

/*search in header*/

#search{

	display: inline;
    float: left;
    left: 50%;
    margin-left: -25%;
    position: relative;
    width: 300px;
    margin-top: 1em;
}
#search input[name="terms"]{
	width: 250px;
	padding: 2px 3px;
	border: 2px solid #A2C4DA;
	font-size: 1.2em;
}
#search input[name="terms"].focus{
	box-shadow: #fff 0 0 5px;
}
#search input[type="submit"]{
	width: 30px;
	padding: 4px;
	vertical-align: top;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #6FD6F7;



}

#search input[type="submit"]:hover{
	background-color: #63D1F4;
}

/*Profile*/

#profile {
    float: right;
}
#profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#profile a {
    color: #fff;
    float: left;
    font-size: 18px;
    line-height: 43px;
    padding: 0 20px 0 0;
    text-decoration: none;
}
#profile li {
    float: left;
}

#profile-img img {
    height: 43px;
	display:block;
}
#profile span {
    display: block;
}

/*Footer*/
#footer{
	text-align:center;
}


/*page content*/

#page{
	width: 800px;
	
	/*background: rgba( 255, 255, 255, 0.3 );
	border: 1px solid #ffffff;*/
	margin: 10px auto 0px;
	padding: 1em 2em;
}


#content {
    float: right;
    margin-left: 23px;
    width: 525px;
}
#sidebar {
    float: left;
    width: 250px;
}
.box {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 5px;
}
#post-updates h3 {
    margin-top: 0;
}


.user-image img {
    display: block;
    width: 100%;
}
.user-image {
    float: left;
    margin-right: 10px;
    width: 50px;
}
.post-header {
    color: #0279c9;
    font-weight: bold;
}
.post-content {
    float: left;
    width: 449px;
}
.post-content-main{
	padding: 3px;
}
.comments {
    background: #ededed none repeat scroll 0 0;
    clear: both;
}
.comments ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.comment {
    border-bottom: 1px solid #a7a7a7;
    padding: 15px 5px;
}
.comment .post-content {
    width: 395px;
}
.comment .user-image {
    width: 25px;
}

.comment-form {
    padding: 5px;
}
.comment-form textarea {
    box-sizing: border-box;
    height: 24px;
    resize: vertical;
    width: 100%;
}
.post{
	margin-bottom:20px;
}

textarea {
    resize: vertical;
    width: 100%;
}