<div class="header">
    <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="logo">
                <a class="navbar-brand" href="#/">
                    <img src="../images/logo.png" alt="the network" />
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div ng-controller="NavCtrl" class="collapse navbar-collapse" id="js-example-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <img src="../images/profile/daniel-craig.jpg" class="nav-pic" />
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <button type="submit" ng-click="show()" class="btn btn-default">Post Update</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/">Home</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
