<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">Updates</h3>
        
        <div ng-repeat="(postId, post) in posts">
            <p ng-show="post">{{ post.content }}
            <span><a ng-click="deletePost(postId)">delete</a></span>
            </p>
        </div>

        <form ng-submit="submitPost()">
            <input type="text" ng-model="post.content" />
            <input type="submit" value="Add Post" />
        </form>
    
    </div>
</div>
